In [1]:
import pandas as pd

In [2]:
df=pd.read_csv("Cleaned_data.csv")
df

      Unnamed: 0                  location  total_sqft  bath   price  bhk
0              0  Electronic City Phase II      1056.0   2.0   39.07    2
1              2               Uttarahalli      1440.0   2.0   62.00    3
2              3        Lingadheeranahalli      1521.0   3.0   95.00    3
3              4                  Kothanur      1200.0   2.0   51.00    2
4              6          Old Airport Road      2732.0   4.0  204.00    4
...          ...                       ...         ...   ...     ...  ...
8689       13314         Green Glen Layout      1715.0   3.0  112.00    3
8690       13316                     other      3600.0   5.0  400.00    4
8691       13317     Raja Rajeshwari Nagar      1141.0   2.0   60.00    2
8692       13318           Padmanabhanagar      4689.0   4.0  488.00    4
8693       13319              Doddathoguru       550.0   1.0   17.00    1

[8694 rows x 6 columns]